<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.GridViewDemo"
        tools:targetApi="31">
        <activity
            android:name=".tasks.fragments.NewsPortalDesign"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".tasks.SecretMessageReceiver"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:label="Secret Message Receiver" />
        <activity
            android:name=".tasks.StudentInfoDisplay"
            android:exported="false"
            android:label="Student Info Display"
            android:parentActivityName=".tasks.StudentInfo" />
        <activity
            android:name=".tasks.StudentInfo"
            android:exported="false"
            android:label="Student Info Form"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".tasks.SimpleCalculator"
            android:exported="false"
            android:label="Simple Calculator"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".tasks.SimpleInterest"
            android:exported="false"
            android:label="Simple Interest"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".tasks.StudentTable"
            android:exported="false"
            android:label="Student Table Design"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".tasks.LoginForm"
            android:exported="false"
            android:label="Login Form Design"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".tasks.VisitingCard"
            android:exported="false"
            android:label="Visitng Card"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".tasks.PhoneDialer"
            android:exported="false"
            android:label="Phone Dialer"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".tasks.SecretMessage"
            android:exported="false"
            android:label="Secret Message"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>